.full-width-container {
    padding-left: 0 !important;
    padding-right: 0 !important;
    background-color: #A6BEC8;
}

.btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

svg {
  max-width: 100%;
  height: auto;
}

.responsive-image {
  max-width: 70%;
  height: auto;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .text-end {
    text-align: center !important;
  }

  .d-flex {
    flex-direction: column !important;
    align-items: center !important;
  }

  .responsive-image {
    max-width: 100%;
  }
}

#submit {
    background-color: #3E535E; /* Tan color */
    color: #fff; /* Ensure text color is visible */
    border: none; /* Optional: Remove border for a cleaner look */
}

#submit:hover {
    background-color: #212529; /* Slightly darker tan on hover */
    color: #fff; /* Maintain text color */
}