{% include "header.html" %}

<div class="container-fluid px-4 py-5" style="background-color: #E6EEF2;" id="hanging-icons">
    <h1 class="display-5 fw-bold text-center pb-2 border-bottom" style="color: #212529">Behind the Code</h1>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
      <div class="col d-flex align-items-start">
        <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#212529" class="bi bi-code-square" viewBox="0 0 16 16">
                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
                <path d="M6.854 4.646a.5.5 0 0 1 0 .708L4.207 8l2.647 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0m2.292 0a.5.5 0 0 0 0 .708L11.793 8l-2.647 2.646a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708 0"/>
          </svg>
        </div>
        <div>
          <h3 class="fs-2 text-body-emphasis" style="color: #212529;">Coding as Creative Expression</h3>
          <p style="color: #212529;">I like the idea of creating something from nothing; turning ideas into reality. Programming allows me to channel my creativity, transforming concepts into functional and intuitive solutions.</p>

        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#212529" class="bi bi-backpack2-fill" viewBox="0 0 16 16">
            <path d="M5 13h6v-3h-1v.5a.5.5 0 0 1-1 0V10H5z"/>
            <path d="M6 2v.341C3.67 3.165 2 5.388 2 8v1.191l-1.17.585A1.5 1.5 0 0 0 0 11.118V13.5A1.5 1.5 0 0 0 1.5 15h1c.456.607 1.182 1 2 1h7c.818 0 1.544-.393 2-1h1a1.5 1.5 0 0 0 1.5-1.5v-2.382a1.5 1.5 0 0 0-.83-1.342L14 9.191V8a6 6 0 0 0-4-5.659V2a2 2 0 1 0-4 0m2-1a1 1 0 0 1 1 1v.083a6 6 0 0 0-2 0V2a1 1 0 0 1 1-1m0 3a4 4 0 0 1 3.96 3.43.5.5 0 1 1-.99.14 3 3 0 0 0-5.94 0 .5.5 0 1 1-.99-.14A4 4 0 0 1 8 4M4.5 9h7a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-4a.5.5 0 0 1 .5-.5"/>
          </svg>
        </div>
        <div>
          <h3 class="fs-2 text-body-emphasis" style="color: #212529;">Crafting Web Solutions with Flask</h3>
          <p style="color: #212529;">Most of my web development projects are powered by Flask for robust backend functionality, complemented by Bootstrap to create sleek, user-friendly frontends.</p>

        </div>
      </div>
      <div class="col d-flex align-items-start">
        <div class="icon-square text-body-emphasis bg-body-secondary d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#212529" class="bi bi-journals" viewBox="0 0 16 16">
              <path d="M5 0h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2 2 2 0 0 1-2 2H3a2 2 0 0 1-2-2h1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1H1a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v9a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1H3a2 2 0 0 1 2-2"/>
              <path d="M1 6v-.5a.5.5 0 0 1 1 0V6h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 3v-.5a.5.5 0 0 1 1 0V9h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1zm0 2.5v.5H.5a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1H2v-.5a.5.5 0 0 0-1 0"/>
          </svg>
        </div>
        <div>
          <h3 class="fs-2 text-body-emphasis" style="color: #212529;">Lifelong Learner in Tech and Software</h3>
          <p style="color: #212529;">I am a student at heart. Whether I’m exploring new programming languages or diving into the latest tech trends, I’m always eager to learn and expand my skill set.</p>

        </div>
      </div>
    </div>
  </div>

    <div class="px-4 py-5 text-center" style="background-color: #E6EEF2;">
    <h1 class="display-5 fw-bold text-body-emphasis" style="color: #212529">Let's Connect</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4" style="color: #212529">I'm eager to hear from you and possibly discussing how we can collaborate.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="{{ url_for('contact') }}" class="btn btn-primary btn-lg px-4 me-md-2" style="border-color: #212529; background-color: #212529; color: #fff;">Connect</a>

          </div>
        </div>
      </div>

<!--<div class="container-fluid px-4 py-5" style="background-color: #E6EEF2;" id="custom-cards">-->
<!--    <h1 class="display-5 fw-bold text-center pb-2 border-bottom" style="color: #212529">Core Competencies</h1>-->

<!--    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">-->
<!--      <div class="col">-->
<!--        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"-->
<!--             style="background-image: url('{{ url_for('static', filename='Software-engineer-amico.png') }}'); background-size: cover; background-position: center;">-->
<!--          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">-->
<!--            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold" style="color: #A6BEC8;">Python Developer</h3>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="col">-->
<!--        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"-->
<!--             style="background-image: url('{{ url_for('static', filename='Mobile-browsers-bro.png') }}'); background-size: cover; background-position: center;">-->
<!--          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">-->
<!--            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold" style="color: #3E535E;">Backend Developer</h3>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="col">-->
<!--        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg"-->
<!--             style="background-image: url('{{ url_for('static', filename='Team-goals-bro.png') }}'); background-size: cover; background-position: center;">-->
<!--          <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">-->
<!--            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold" style="color: #3E535E;">Student</h3>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

{% include "footer.html" %}