<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Njabulo Nkosi</title>

    {% block styles %}

    {{ bootstrap.load_css() }}

    <link
      href="{{ url_for('static', filename='css/styles.css') }}"
      rel="stylesheet"
    />

    {% endblock %}

</head>
<body>
    <header class="p-3 text-bg-#C9C9CB" style="background-color: #C9C9CB;">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <svg class="bi me-2" width="80" height="80" role="img" aria-label="Stylized N" viewBox="0 0 100 100">
    <path d="M20 80 Q30 20, 50 50 T80 20"
          fill="none"
          stroke="#7c3aed"
          stroke-width="8"
          stroke-linecap="round"
          stroke-linejoin="round" />
  </svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
<!--          <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>-->
<!--          <li><a href="#" class="nav-link px-2 text-white">About</a></li>-->
<!--          <li><a href="#" class="nav-link px-2 text-white">Contact</a></li>-->
        </ul>

<!--        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">-->
<!--          <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">-->
<!--        </form>-->

        <div class="text-end">
          <a href="{{ url_for('behind_the_code') }}" class="btn btn-outline-light me-2">Behind The Code</a>
            <a href="{{ url_for('contact') }}" class="btn btn-primary" style="border-color: #6E07F3; background-color: #6E07F3;">Get in Touch</a>
        </div>
      </div>
    </div>
  </header>
</body>
</html>